.e-giving {
  margin-right: -5px;
  margin-left: -5px;
}

.e-giving__link {
  @extend %type-small-emph;
  @extend %link-nav;

  display: block;
  padding: 5px;
}

.e-giving__more-link {
  @extend %type-small;
  @extend %link-nav;

  display: block;
  padding-right: 5px;
  padding-left: 5px;
}
