////
/// Miscellaneous components
////

.page {
  @include center-layout;

  &:not(.page--size-xl):not(.page--size-lg):not(.page-sm) {
    width: map-get($widths, lg);
  }
}

.page--size-xl {
  width: map-get($widths, xl);
}

.page--size-md {
  width: map-get($widths, md);
}

.page--size-sm {
  width: map-get($widths, sm);
}
