////
/// Miscellaneous components
////

.page {
  @include center-layout;

  &:not(.page--size-xl):not(.page--size-lg):not(.page-sm) {
    width: map-get($widths, lg);
  }

  &:not(.page--full-bleed) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.page--size-xl {
  width: map-get($widths, xl);
}

.page--size-md {
  width: map-get($widths, md);
}

.page--size-sm {
  width: map-get($widths, sm);
}

.page--full-bleed {
  padding-top: 0;
  padding-bottom: 0;
}
