$fa-font-path: '../../node_modules/@fortawesome/fontawesome-free/webfonts';

$fonts: (
  base: ('Ubuntu', sans-serif),
  display: ('Ubuntu', sans-serif),
);

$font-leadings: (
  display-1: 6rem,
  display-2: 4rem,
  display-3: 2rem,
  base: 2rem,
  sub: 1.3rem,
);

$font-sizes: (
  display-1: 5rem,
  display-2: 3.2rem,
  display-3: 2.1rem,
  base: 1.6rem,
  sub: 1.2rem,
);

$widths: (
  xl: 1400px,
  lg: 1000px,
  md: 760px,
  sm: 550,
);
