.home__features {
  margin-right: calc((100vw - 100%) / -2);
  margin-bottom: 100px;
  margin-left: calc((100vw - 100%) / -2);
  width: 100vw;
  height: 75vh;
  max-height: 800px;

  img {
    @include cover-image;
  }
}

.home__intro {
  margin-top: 100px;
  margin-bottom: 100px;
}

.home__location-times {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.home__location-times__map {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  z-index: 1;
}

.home__location-times__schedule {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
  z-index: 2;

  margin-top: 40px;
  margin-right: 40px;
  margin-bottom: 40px;

  background-color: white;
  padding: 20px;
}
